# Use the int 33 mouse driver with Allegro 4.x.x - the default mouse driver 
# under this version of Allegro crashes the program when the mouse cursor
# leaves the edges of the defined mousing area (not necessarily the edges of
# the screen).  The 'old' driver works fine, and has the same behavior as
# the 'old' Allegro's mouse driver.
[mouse]
mouse = I33